body {
    background-color: rgb(36, 53, 63);
    font-family: 'Titillium Web', sans-serif;

}

.content {

    box-shadow: 15px 15px 15px 15px black;
    width: 50%;
}

h1 {
    color: #17A2B5;
}

.btnLog {
    border: 2px solid #17A2B5;
    color: #17A2B5;
    transition: .2s;
}

.btnLog:hover {
    background-color: #17A2B5;
    color: white;
}
a{
    text-decoration: none;
}
span {
    transition: .2s;
    cursor: pointer;
}

span:hover {
    text-decoration: underline;
}

input {
    color: white;
    width: 100%;

}

input:focus {
    border-color: #17A2B5;
    outline-color: #17A2B5;
    box-shadow: #17A2B5;
    color: white;
}

::placeholder {
    color: white;
}
#welcome{
    box-shadow: 15px 10px 25px 10px black;

}

@media  screen and (max-width : 1200px){
    input{
        width: 100%;
    }
    .content{ 

        width: 75%;
    }
}
@media  screen and (max-width : 768px){
    input{
        width: 100%;
    }
    .content{
        width: 90%;
    }
}

@media  screen and (max-width : 600px){
    input{
        width: 100%;
    }
    .content{
        width: 100%;
    }
}